body {
  background: #000;
}

.canvas-wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.text-wrapper {
  color:#fff;
  position: absolute;
  top: 60px;
  left: 120px;
}

.left {
  left: 0px;
  background: url("http://www.welbeckdigitalgarden.co.uk:8080/stream/video.mjpeg"), red;
  background-blend-mode: lighten;
  background-size: cover;
}

.right {
  left: 20px;
  background: url("http://www.welbeckdigitalgarden.co.uk:8080/stream/video.mjpeg"), lime;
  background-blend-mode: lighten;
  background-size: cover;
}

@keyframes randommm {
  0% {
    left: 12px;
  }
  5% {
    left: 6px;
  }
  7% {
    left: 12px;
  }
  8% {
    left: 6px;
  }
  11% {
    left: 12px;
  }
  13% {
    left: 6px;
  }
  17% {
    left: 12px;
  }
  18% {
    left: 6px;
  }
  21% {
    left: 12px;
  }
  27% {
